.root-login-container {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #F5F7FA);
}

.text-field-custom {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(147, 112, 219, 0.4); /* Un toque morado sutil en el borde */
    -fx-border-width: 1.5;
    -fx-padding: 10 15 10 15;
}
/* Estilo figuras */
.shape-decor {
    -fx-fill: rgba(111, 66, 193, 0.1);
}


.text-input {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 10 15;
    -fx-border-color: #DDD;
    -fx-background-color: white;
}

.text-input:focused {
    -fx-border-color: #6F42C1;
}

/*link */
.link-registro {
    -fx-text-fill: #0066cc; /* Color azul clásico de enlace web */
    -fx-underline: true; /* Subrayado activado */
    -fx-border-color: transparent; /* Quita el cuadro punteado feo al hacer clic */
    -fx-padding: 0; /* Quita el espacio extra para que quede alineado con el texto */
    -fx-cursor: hand; /* Cambia el cursor a la manito */
}
.link-registro:hover {
    -fx-text-fill: #004499;
}
